---
import Layout from '@/layouts/Layout.astro'
import StatList from '@/components/stats/StatList'
import AboutDialog from '@/components/AboutDialog'
---

<Layout title="统计">
  <div class="max-w-3xl mx-auto px-6 py-8">
    <StatList client:load />
	</div>
  <div slot="footer-left" class="flex-1 flex items-center overflow-hidden">
    <h1 class="text-sm">统计</h1>
  </div>
  <div slot="footer-right" class="flex items-center">
    <p class="text-xs fg-lighter op-50">统计范围开始自 2019.10</p>
    <AboutDialog client:load />
  </div>
</Layout>
