---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<div class="max-w-3xl mx-auto px-6 py-8">
		<h1 class="text-4xl font-extrabold op-50">404</h1>
    <p class="leading-relaxed mt-6 fg-lighter text-sm">升起了慌张的狼烟</p>
    <p class="leading-relaxed fg-lighter text-sm">遗落在不存在的荒野</p>
    <a class="button inline-block mt-6 p-2 border border-base rounded-md text-sm" href="/">返回首页</a>
	</div>
</Layout>

