<div class="flex rounded-md border border-base text-base overflow-hidden">
  <div id="tone-switch" class="button fcc w-7.5 h-7.5">
    <div class="i-ph:ear" />
  </div>
</div>

<script>
const toneSwitchButton = document.getElementById('tone-switch')
const lyricText = document.getElementById('lyric-text')
const toneTexts = document.querySelectorAll('.lyric-tone')
const toneText2s = document.querySelectorAll('.lyric-tone2')

const options = ['none', 'tone']
if (toneText2s.length) {
  options.push('tone2')
}

let optionIndex = 0

toneSwitchButton?.addEventListener('click', () => {
  optionIndex = (optionIndex + 1) % options.length
  switchShow(optionIndex)
  toneSwitchButton?.classList.remove('button-highlight')
  optionIndex > 0 && toneSwitchButton?.classList.add('button-highlight')
})

const switchShow = (optionIndex: number) => {
  if (optionIndex === 0) {
    toneTexts.forEach(toneText => {
      toneText.classList.add('hidden')
    })
    toneText2s.forEach(toneText => {
      toneText.classList.add('hidden')
    })
  } else if (optionIndex === 1) {
    toneTexts.forEach(toneText => {
      toneText.classList.remove('hidden')
    })
    toneText2s.forEach(toneText => {
      toneText.classList.add('hidden')
    })
  } else if (optionIndex === 2) {
    toneTexts.forEach(toneText => {
      toneText.classList.add('hidden')
    })
    toneText2s.forEach(toneText => {
      toneText.classList.remove('hidden')
    })
  }
}
</script>
