---
import Menu from './Menu'
---
<footer class:list={[
  'fixed left-0 right-0 bottom-0',
  'flex items-center justify-between gap-4',
  'h-[calc(3.5rem+env(safe-area-inset-bottom))] px-6 pb-[env(safe-area-inset-bottom)]',
  'bg-blur border-t border-base',
]}>
  <div class="flex flex-1 items-center gap-2.5">
    <Menu client:load />
    <slot name="footer-left" />
  </div>
  <slot name="footer-right" />
</footer>