---
interface Props {
  data: string
}

interface LyricLine {
  text: string
  isHighlight: boolean
}

const { data } = Astro.props

const lyricLines = data.split('\n').map(line => {
  const regix = /^\[\d{2}:\d{2}(\.\d+)?\]/
  const text = line.replace(regix, '').trim()
  const isHighlight = text.startsWith('!')
  return { 
    text: text.replace(/^\!/, ''),
    isHighlight,
  } as LyricLine
})

if (lyricLines[0].text === '') {
  lyricLines.shift()
}
---

<div class="leading-loose">
  {lyricLines.map(line => (
    <p class={line.isHighlight ? 'fg-highlight' : ''}>
      {line.text || '\u00a0'}
    </p>
  ))}
</div>