<div class="flex rounded-md border border-base text-sm overflow-hidden">
  <div id="text-reduce" class="button fcc w-8 h-7.5 border-r border-base">
    <div class="i-ph:minus" />
  </div>
  <div id="text-enlarge" class="button fcc w-8 h-7.5">
    <div class="i-ph:plus" />
  </div>
</div>

<script>
const textReduce = document.getElementById('text-reduce')
const textEnlarge = document.getElementById('text-enlarge')
const lyricText = document.getElementById('lyric-text')
let sessionFontStep = parseInt(sessionStorage.getItem('fontStep') || '1')

const fontSizeList = [
  '0.8rem',
  '1rem',
  '1.2rem',
  '1.4rem',
  '1.6rem',
  '1.8rem',
  '2rem',
  '4rem',
  '6rem',
  '8rem',
]

const setStyle = (fontStep: number) => {
  if (!lyricText) {
    return
  }
  lyricText.style.fontSize = fontSizeList[fontStep] || '1rem'
  lyricText.style.maxWidth = fontStep > 6 ? '100vw' : '48rem'

  console.log('fontStep', fontStep, fontSizeList[fontStep] || '1rem', fontStep > 5 ? '100vw' : '48rem')

}
setStyle(sessionFontStep)

textReduce?.addEventListener('click', () => {
  if (sessionFontStep > 0) {
    sessionFontStep -= 1
    setStyle(sessionFontStep)
    sessionStorage.setItem('fontStep', sessionFontStep.toString())
  }
})

textEnlarge?.addEventListener('click', () => {
  if (sessionFontStep < fontSizeList.length - 1) {
    sessionFontStep += 1
    setStyle(sessionFontStep)
    sessionStorage.setItem('fontStep', sessionFontStep.toString())
  }
})
</script>