---
import { getCollection, getEntry } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import LyricText from '@/components/LyricText.astro'
import TextSizeSwitcher from '@/components/TextSizeSwitcher.astro'
import { slugify } from '@/utils'

export async function getStaticPaths() {
  const entries = await getCollection('lyrics')
  return entries.map(entry => ({
    params: { slug: slugify(entry.slug) },
    props: {
      title: entry.id.replace('.md', ''),
      id: entry.slug,
    },
  }))
}

export interface Props {
	title: string
  id: string
  slug: string
}

const { title, id } = Astro.props
const { slug } = Astro.params

const lyric = await getEntry('lyrics', id);
---

<Layout title={title}>
  <div class="max-w-[70ch] mx-auto px-6 py-8">
    <LyricText data={lyric!.body} />
	</div>
  <div slot="footer-left" class="flex-1 flex items-center overflow-hidden">
    <a href="/" class="p-2 -ml-2 hv-base">
      <h1 class="text-sm">Lyrics</h1>
    </a>
    <div class="i-ph:caret-right text-sm -ml-1 mr-1" />
    <div class="text-sm truncate">{title}</div>
  </div>
  <div slot="footer-right" class="flex items-center">
    <TextSizeSwitcher />
  </div>
</Layout>
