---
import { getCollection, getEntry } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { slugify } from '@/utils'

export async function getStaticPaths() {
  const entries = await getCollection('lyrics')
  return entries.map(entry => ({
    params: { slug: slugify(entry.slug) },
    props: { title: entry.slug },
  }))
}

export interface Props {
	title: string
  slug: string
}

const { title } = Astro.props
const { slug } = Astro.params

const lyric = await getEntry('lyrics', title);
---

<Layout title={title}>
	<main>
    <pre>{lyric!.body}</pre>
	</main>
  <div slot="footer-left" class="flex items-center">
    <a href="/" class="p-2 -ml-2 hv-base">
      <h1 class="font-news text-sm">Mayday</h1>
    </a>
    <div class="i-ph:caret-right text-sm -ml-1 mr-1" />
    <div class="text-sm">{title}</div>
  </div>
</Layout>
