---
import { getCollection, getEntry } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { slugify } from '@/utils'

export async function getStaticPaths() {
  const entries = await getCollection('lyrics')
  return entries.map(entry => ({
    params: { slug: slugify(entry.slug) },
    props: { title: entry.slug },
  }))
}

export interface Props {
	title: string
  slug: string
}

const { title } = Astro.props
const { slug } = Astro.params

const lyric = await getEntry('lyrics', title);
---

<Layout title={title}>
	<main>
		<h2 class="text-blue">{title}</h2>
    <pre>{lyric!.body}</pre>
	</main>
</Layout>
